body {
  font-size: 14px;  
  background: #eee url("../images/reader.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  background: #fff;
  padding: 5px 0;
}

p, .row {
  margin: 0;
}

.articles {
  margin: 30px auto;
}

.article {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 3px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding: 7px 0;
}

.item .title {
  font-weight: bold;
}

.item .pubdate {
  text-align: right;
}

.description {
  padding: 10px 0;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}