{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "no-console": "off",
    "spaced-comment": "off",
    "padded-blocks": "off",
    "eol-last": "off",
    "object-curly-spacing": "off",
    "indent": [
      "off",
      2
    ],
    "max-len": [
      "error",
      {
        "code": 88,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "semi": "error",
    "require-jsdoc": "off"
  }
}