<!doctype html>
<html lang="{{ lang | default('en') }}">

{% include "./head.html" %}

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include "./header.html" %}

    <main class="mdl-layout__content">
      <div class="page-content">

        {% block content %}{% endblock %}

        {% include "./footer.html" %}

      </div>
    </main>

  </div>

  {% include "./scripts.html" %}

  <!-- Built with love using Web Starter Kit -->
</body>

</html>
