<div class="mdl-cell mdl-card mdl-shadow--3dp">
  <div class="mdl-card__media">
  </div>

  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">{{ project.name }}</h4>
  </div>

  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">
      {{ project.description }}
    </span>
  </div>

{% if project.downloadLink %}
  <div class="mdl-card__actions">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase"
     href="{{ project.downloadLink }}">Download<i
     class="material-icons">chevron_right</i></a>
  </div>
{% endif %}

{% if project.source %}
  <div class="mdl-card__actions">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase"
     href="{{ project.source }}">View source<i
     class="material-icons">chevron_right</i></a>
  </div>
{% endif %}

{% if project.website %}
  <div class="mdl-card__actions">
    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase"
     href="{{ project.website }}">Visit website<i
     class="material-icons">chevron_right</i></a>
  </div>
{% endif %}

</div>
