{% set title = "Page Not Found" %}
{% set description = "This page does NOT exist!" %}

{% extends "./partials/base.html" %}

{% block content %}

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop
     mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-color--teal-100
     mdl-color-text--white">
    </header>

    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet
     mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>Sorry!</h4>
        The page you are looking for does not exist!
      </div>
    </div>
  </section>

{% endblock %}
