{% set title = "Completed online courses" %}
{% set description = "Most of the online courses that @BaderSur has completed!" %}

{% extends "./partials/base.html" %}

{% block content %}

  <div class="mdl-grid courses">

    <h4 class="mdl-cell--12-col">{{ title }}</h4>

    {% for provider in providers %}

      <h5 class="mdl-cell--12-col">{{ provider.name }}</h5>

      {% for course in provider.courses %}

        <a class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone
         mdl-card mdl-shadow--3dp linked-card" href="{{ course.link }}">
            {{ course.name }}
        </a>

      {% endfor %}

    {% endfor %}

  </div>

{% endblock %}
