{% set footerText = "بدر الهاشمي" if lang == "ar" else "BaderSur" %}
{% set repoTitle = "ملفات المشروع" if lang == "ar" else "GitHub repo." %}
{% set repoImageAlt = "علامة موقع جيتهب!" if lang == "ar" else "GitHub mark" %}

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      {{ footerText }} &copy; 2015 - {{ currentYear }}

      <a href="https://github.com/badersur/badersur.github.io"
       role="button" title="{{ repoTitle }}" class="repo-button">

       <img src="/images/github-mark.png" alt="{{ repoImageAlt }}">

      </a>
    </div>
  </div>
</footer>
