<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">

  {% if not isGAE %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% endif %}

  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ author }}">

  <title>{{ fullTitle }}</title>

  {% if robots %}
    <meta name="robots" content="{{ robots }}">
  {% endif %}

  {% if redirectUrl %}
    <script>window.location.href = "{{ redirectUrl }}"</script>
    <noscript><meta http-equiv="refresh" content="0; url={{ redirectUrl }}"></noscript>
  {% endif %}

  {% if not redirectUrl %}
    <link rel="canonical" href="{{ fullUrl }}">

    <link rel="alternate" href="{{ fullUrl }}"
     hreflang="{{ lang }}">
    <link rel="alternate" href="{{ fullAlternateUrl }}"
     hreflang="{{ alternateLang }}">
  {% endif %}

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- favicon -->
  <link rel="icon" sizes="32x32" href="/images/logo-32x32.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ appName }}">
  <link rel="icon" sizes="192x192" href="/images/logo-chrome-touch-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{ appName }}">
  <link rel="apple-touch-icon" href="/images/logo-apple-touch-180x180.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/images/logo-ms-touch-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#2F3BA2">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ fullUrl }}">
  <meta property="og:image" content="{{ baseUrl + '/images/logo-128x128.png' }}">

  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
  <meta property="og:description" content="{{ description }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@BaderSur">
  <meta name="twitter:creator" content="@BaderSur">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ baseUrl + '/images/logo-128x128.png' }}">
  <meta name="twitter:url" content="{{ fullUrl }}">

  <!-- Material Design icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles/main.css">
</head>
